@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Steam Punk Flyer";
  src: url('../public/fonts/Steam Punk Flyer.ttf');
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}